* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background: #111;
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.movie-container {
  margin: 20px 0;
  label {
    letter-spacing: 2px;
  }

  select {
    background: coral;
    border: 0;
    margin-left: 10px;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 2px;
    color: #fff;
    option {
      background: #333;
      color: #fff;
    }
  }
}
.seat {
  background: #fff;
  height: 22px;
  width: 25px;
  margin: 3px;
  border-radius: 10px 10px 0 0;
  &.selected {
    background: aqua;
  }
  &.occupied {
    background: crimson;
  }
  &:nth-child(2) {
    margin-right: 20px;
  }
  &:nth-last-of-type(2) {
    margin-left: 20px;
  }
  &:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}
.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #777;
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: space-between;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
  }
}
.container {
  perspective: 1000px;
  margin-bottom: 30px;
}
.row {
  display: flex;
}
.text {
  letter-spacing: 1px;
  span {
    color: aqua;
  }
}
.screen {
  background: #fff;
  height: 80px;
  width: 100%;
  margin: 15px 0;
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
  transform: rotateX(-45deg);
}
